<div class="example-container">
  <h2>Type password if you want to delete account.</h2>

  <mat-form-field>
    <input matInput placeholder="Enter your password:" [formControl]="password" type="text" required>
    <mat-error *ngIf="password.invalid && !''">{{getErrorPassword()}}</mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" (click)="deleteAccount()" class="btn btn-warn" [disabled]="password.invalid">Delete</button>
</div>