<div class="example-container">
  <h2>Log In Panel</h2>
  <mat-form-field>
    <input matInput placeholder="Enter your email:" type="text" [formControl]='email' required>
    <mat-error *ngIf="email.invalid && !''">{{getErrorEmail()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Enter your password:" [formControl]="password" [type]="!hide ? 'password' : 'text'"
      required>
    <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="password.invalid && !''">{{getErrorPassword()}}</mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" (click)="logIn()" class="btn btn-default"
    [disabled]="email.invalid || password.invalid">LogIn</button>
</div>