<mat-card class="mat-elevation-z8 login-comp">
  <mat-tab-group>
    <mat-tab label="Log In">
      <app-login-panel></app-login-panel>
    </mat-tab>
    <mat-tab label="Sign Up">
      <app-signup-panel></app-signup-panel>
    </mat-tab>
  </mat-tab-group>
  <app-signup-providers></app-signup-providers>
</mat-card>