.mat-toolbar {
  background: initial;
}
.sidenav {
  width: 220px;
}
mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 100;
}
.spacer {
  flex: 1 1 auto;
}
mat-sidenav-content {
  min-height: 100vh;
  background-color: white;
}
.navbar-mid-a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.menu-user {
  overflow: hidden;
}
