<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="'over'" [opened]="false">
    <div class='sidenav-links'>
      <a mat-button (click)="drawer.toggle()" routerLinkActive="active" routerLink="/home">Home</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <span class="spacer"></span>
      <div class="navbar-mid-a">
        <a *ngIf="!(isHandset$ | async)" mat-button routerLinkActive="active" routerLink="/home">Home</a>
      </div>
      <div *ngIf="auth.user$ | async as user; then user else guest"></div>
        <ng-template #guest>
          <a mat-icon-button class="center" matTooltip='Contact uss.' routerLinkActive="active" routerLink="/login">
            <mat-icon aria-label="Log in">account_circle</mat-icon>
          </a>
        </ng-template>
        <ng-template #user>
          <div *ngIf="auth.user$ | async as user">
            <a *ngIf="user.emailVerified" mat-icon-button class='center'>
              <mat-icon aria-label="EmailConfirmed">check_circle</mat-icon>
            </a>
          </div>
          <a mat-icon-button [matMenuTriggerFor]="menu" class="center">
            <mat-icon aria-label="Accaunt">face</mat-icon>
          </a>
          <mat-menu #menu="matMenu">
            <div class="menu-user">
              <a mat-menu-item routerLinkActive="active" routerLink="/user">
                <mat-icon>face</mat-icon>
                <span>User</span>
              </a>
              <a mat-menu-item routerLinkActive="active" routerLink="/booking">
                <mat-icon>add_shopping_cart</mat-icon>
                <span>Booking</span>
              </a>
              <a mat-menu-item (click)="logOut()">
                <mat-icon>power_off</mat-icon>
                <span>Log Out</span>
              </a>
            </div>
          </mat-menu>
        </ng-template>
      <a type="button" class="center" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" color="black">menu</mat-icon>
      </a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>