<mat-card *ngIf="auth.user$ | async as user">
  <h3>Hello {{ user.email }}</h3>
  <!-- <div *ngIf="user.photoURL | async">
    <img [src]="user.photoURL">
  </div> -->
  <p>User: {{ user | json}}</p>
  <p *ngIf="auth.afAuth.user | async as use">{{use | json}}</p>
  <a mat-raised-button (click)="openDeleteAccountDialog()">Delete Accaunt</a>
  <a mat-raised-button (click)="emailReset()">Change or set password to account</a>
</mat-card>